@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/*background-image:url("/Images/mainimg.png");*/
background-color: black;
background-size: cover;
background-repeat: no-repeat;
font-family: 'Times New Roman', sans-serif;
}
.container{
    margin-top: 20px;
}

.btn-group{
  display: inline-block;
  width: 100%;
}

.tab-content {
    margin: 15px;
}
